body {
  margin: 0;
}

/* grid layout */

.application-container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 1fr;
  grid-template-columns: 180px 1fr;
  grid-template-areas:
    "side-menu main-content";
}

.side-menu {
  background: orange;
  grid-area: side-menu;
}

.main-content {
  background: green;
  grid-area: main-content;
}

/* side menu */

.side-menu > .side-menu-title {
  background: red;
  width: 100%;
  text-align: center;
}
